body {
  background-color: black;
}

h1 {
  color: red;
}

p {
  color: yellow;
}

#header {
  color: #32cd32;
}

.btn {
  background-color: #32cd32;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 120px;
}

.btn:hover {
  text-decoration: underline;
}

.col-md-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 3px solid red;
}
